.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inside-ng-template {
    display: flex;
    justify-content: center; // centra en horizontal
    align-items: center; // centra en vertical
    width: 250px;
    height: 250px;
    background-color: red;
    color: #0000;
    font-weight: bold;
    font-size: 1rem;
    margin: 25px;
    margin: 15px 0px;
    .h-w {
        // lo nesteamos por integridad pero si lo sacaramos fuera cogeria las propiedades igual!!
        color: blanchedalmond;
        font-weight: bold;
        font-size: 1.9rem // cuantos px son;
    }
    &:last-child {
        background-color: rgb(230, 219, 219);
        justify-content: center; // centra en horizontal
        color: #0000;
        font-weight: bold;
        font-size: 1rem;
    }
}

.test-pipe {
    color: black;
    font-size: 1.2rem;
    font-weight: 200;
}

.btn-primary {
    // lo sacamos del container. no nos interesa que coja sus propiedades 
    width: 250px;
    border-radius: 25px;
}

.green_btn {
    background-color: green;
    border-color: green;
}