<div>

    <h1 class="cats-title">
        Cats Facts in ng-container. Un NG-CONTAINER ES UNA DIV CON VENTAJAS</h1>

    <table class="cats-container">
        <ng-container class="cat-facts" *ngFor="let cat of catFacts">
            <tr>
                <td>
                    <h4 class="title">{{ cat.title }}</h4>
                    <hr>
                    <input type="checkbox" (click)="deleteCat(cat)" />
                    <p class="text">{{cat.text}}</p>
                </td>
            </tr>
        </ng-container>
    </table>

</div>

<app-demo-content>
    <header>Soy el componente proyectado</header>
    <div class="content">{{ content1 }}</div>
    <div class="content-blue">{{ content2 }}</div>
</app-demo-content>