<div>
    <!-- <button pButton type="button" label="Click"></button>
    <p-button label="Click"></p-button> -->

    <h1 class="cats-title">
        Cats Facts in ng-container</h1>

    <table class="cats-container">
        <ng-container class="cat-facts" *ngFor="let cat of catFacts">
            <tr>
                <td>
                    <h4>{{ cat.title }}</h4>
                    <p>{{cat.text}}</p>
                </td>
            </tr>
        </ng-container>
    </table>

</div>

<app-demo-content>
    <header>Soy el componente proyectado</header>
    <div class="content">{{ content1 }}</div>
    <div class="content-blue">{{ content2 }}</div>
</app-demo-content>