<section class="container">

    <div class="div" (click)="openAlert()">Click alert from ng-child</div>
    <div class="div">DIV 2</div>
    <div class="div">DIV 3</div>
    <div class="div">DIV 4</div>

</section>

<!-- cmp hijo directo   -->
<app-simple-alert #alert title=" Hola" message="Soy el alert!!!! "></app-simple-alert>

<hr/>




<app-demo-content>
    <header>Soy el componente proyectado otra vez :)</header>
    <div class="content">{{ content1 }}</div>
    <div click="openAlertFromContent()" class="content-blue">{{ content2 }}</div>



    <app-simple-alert (click)="openAlert()" #alertCmp title=" Hola" message="Soy el alert desde el ng-content!!!! "></app-simple-alert>

</app-demo-content>