@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.container {
    padding: 0px 50px 0px 50px;
}

.form {
    display: flex;
    flex-direction: column;
    background: rgba(58, 63, 68, 0.5);
    border-radius: 10px;
    box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
    width: 700px;
    padding: 2rem;
}

.form-field {
    display: flex;
    margin-bottom: 2rem;
}